/* COMMON COLOR AND STYLES
-------------------------------------------------- */
.wsOrange {
  color: rgb(251, 141, 28);
}
.wsBlue {
  color: rgb(29, 94, 150);
}
.colorOfWindows {
  color: rgb(0, 175, 244);
}

/* CUSTOMIZE THE HEADER
-------------------------------------------------- */

#header {
  background-image: url(/images/top_bkg.jpg);
  background-repeat: repeat;
}
/*
#header_inner {
    height: 500px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-top: 100px;
    padding-left: 20px;
    background-image: url(/images/top.png);
}
*/

#header_inner {
  background-image: url(/images/top_2.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  padding-top: 60px;
  margin-bottom: 60px;
}
#header_inner h1 {
  font-size: 46px;
  color: white;
  width: 585px;
  text-shadow: 1px 1px 3px #ffffff;
}
#header_inner h2 {
  color: white;
  width: 585px;
  font-size: 16pt;
  font-weight: bold;
}
#header_inner p {
  color: #8abbeb;
}

/* SIGNUP BUTTON
-------------------------------------------------- */
#btnSignUp {
  background: #f58b1b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f58b1b 90%, #b3480e 98%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #f58b1b), color-stop(98%, #b3480e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f58b1b 90%, #b3480e 98%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f58b1b 90%, #b3480e 98%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f58b1b 90%, #b3480e 98%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f58b1b 90%, #b3480e 98%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f58b1b', endColorstr='#b3480e', GradientType=0);
  /* IE6-9 */
  font-size: 12pt;
  font-weight: bold;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}
/* Center align the text within the three columns below the carousel */

.marketing .col-sm-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-sm-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#featureCheckList {
  font-size: 15pt;
}
.imgShadow {
  box-shadow: 10px 10px 5px #888888;
}
.fa-featurette {
  font-size: 10em;
}
.twitterPicture {

}
.pricePop {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: -15px;
}
#about .row {
  text-align: center;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  #header_inner {
    background-image: url(/images/top_2.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 60px;
    margin-bottom: 60px;
  }
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
  #about .row {
    text-align: left;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 60px;
  }
  .pricePop {
    margin-bottom: -45px;
  }
}
