{{> header}}

<body>

  <!-- NAVBAR
  ================================================== -->


  {{> navbar}}


  <!-- Header
    ================================================== -->
  <div id="header">
    <!--
        <div id="header_inner">
            <h1>RELAX! Prevent Downtime with Automatic Windows Server Monitoring</h1>
            <h2>Join Our Free Beta to Monitor Your Servers In 5 Minutes!</h2>
            <p>It's a few easy steps to monitor your onsite, hosted, and cloud Windows Servers...</p>
            <br />
            <p>
                <a id="btnSignUp" href="#" role="button">Sign up today</a>
            </p>
        </div>
-->
    <div class="container" id="header_inner">
      <div class="row">
        <div class="col-md-6">
          <h1>Simple Windows Server Monitoring</h1>
          <h2>Relax! Winsitter is here to help.</h2>

          <br />
          <p>
            <a id="btnSignUp" href="https://dashboard.winsitter.com/signup" role="button">Signup for a Free Trial!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.header -->



  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" id="details">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <span class="fa-stack fa-5x">

          <i class="fa fa-circle fa-stack-2x colorOfJoesPants"></i>

          <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>

        </span>
        <h2>Prevent Downtime with Mobile Alerts</h2>
        <span class="lead quoted">

          <p>"Winsitter alerted me about my hard drive filling up on a criticial server.  I was able to tame a runaway process."</p>

          <img class="twitterPicture" src="https://pbs.twimg.com/profile_images/1828958563/me_normal.jpg" />

          <footer>Michael Carter - <a href="https://twitter.com/kiliman">@kiliman</a></footer>

        </span>
        <!-- <p>
            <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
        </p> -->

      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <span class="fa-stack fa-5x">

          <i class="fa fa-windows fa-2x colorOfWindows"></i>

        </span>
        <h2>Sleep Better Knowing You're Covered</h2>
        <p class="lead">Imagine you're at dinner and the office help desk calls. Users can't get to webmail without seeing a warning screen.</p>
        <p class="lead">You discover your web mail server certificate expired. <b>Winsitter could have alerted in advance</b> and prevented a late night outage.</p>
        <!-- <p>
            <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
        </p> -->


      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <span class="fa-stack fa-5x">

          <i class="fa fa-circle fa-stack-2x colorOfJoesPants"></i>

          <i class="fa fa-ambulance fa-stack-1x fa-inverse"></i>

        </span>
        <h2>Windows Server Monitoring-as-a-Service</h2>
        <span class="lead quoted">

          "Winsitter is pretty cool! The notification emails are going to really great for my team! Can&#39;t wait to see what is added."

          <img class="twitterPicture" src="https://pbs.twimg.com/profile_images/378800000531450136/558b2c7713426da501570b9fb16d0fed_normal.jpeg" />

          <footer>Grant Goodart - <a href="https://twitter.com/grantg81">@grantg81</a></footer>

        </span>
        <!-- <p>
          <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
        </p> -->

      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->




    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <!-- <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">Free trial with <span class="text-muted">amazingly fast install</span></h2>
      </div>
    </div> -->
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Free trial with <span class="text-muted">amazingly fast install</span></h2>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <p class="lead">
          No gigabyte downloads.
          <br />No complicated configurations.
          <br />One simple command and you're running in less than a minute.
        </p>
        <img class="featurette-image img-responsive imgShadow" src="/images/easyCommandLine.png" alt="Generic placeholder image">
        <!-- <p>
          <i class="fa fa-gears fa-4x colorOfWindows"></i>
        </p>
        <p class="lead">Our smarty-smart robots do all the analysis and only report back
          to you when there are current issues or potental ones. You get to
          do more fun stuff with all your new free time!
        </p> -->
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-md-4">
        <span id="pricing">&nbsp;</span>
        <p>
          <a id="btnSignUp" href="https://dashboard.winsitter.com/signup" role="button">Signup for a Free Trial!</a>
        </p>
      </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <!-- <div class="col-md-5">
        <img class="featurette-image img-responsive" src="/images/big2.jpg" alt="Generic placeholder image">
      </div> -->
      <div class="col-md-7">
        <p class="pricePop green">$9 per server/mo</p>
        <h2 class="featurette-heading">For an ever increasing list of <span class="text-muted">things we monitor on each server</span></h2>
      </div>
      <div class="col-md-5">
        <p class="lead" id="featureCheckList">
          <span><i class="fa fa-check-circle-o fa-2x green"></i> Heartbeat detection</span>
          <br/>
          <span><i class="fa fa-check-circle-o fa-2x green"></i> SSL Expiration</span>
          <br/>
          <span><i class="fa fa-check-circle-o fa-2x green"></i> Pending Windows Updates</span>
          <br/>
          <span><i class="fa fa-check-circle-o fa-2x green"></i> Unusual Memory and CPU Utilization</span>
          <br/>
          <span><i class="fa fa-check-circle-o fa-2x green"></i> and MORE!</span>
          <br/>
          <br/>
          <small>Interested in bulk pricing?  <a href="mailto:support@winsitter.com">Contact Us</a></small>
        </p>
        <p>
          <a id="btnSignUp" href="https://dashboard.winsitter.com/signup" role="button">Signup for a Free Trial!</a>
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <!-- <div class="col-md-5 col-md-push-7">
        <img class="featurette-image img-responsive" src="/images/big3.jpg" alt="Generic placeholder image">
          <span class="fa-stack fa-featurette">
           <i class="fa fa-building fa-stack-1x"></i>
           <i class="fa fa-ban fa-stack-2x text-danger"></i>
          </span>
      </div> -->
      <div class="col-md-5 col-md-push-7">
        <h2 class="featurette-heading">No additional infrastructure needed <span class="text-muted"> for monitoring</span></h2>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <!-- <h2 class="featurette-heading">No additional infrastructure needed <span class="text-muted"> for monitoring</span></h2> -->
        <p class="lead">
          We created Winsitter in a way that removes the complexity of setting up monitoring and mobile alerts. Anyone can signup, easily install the agent, and sleep better knowing they’ll be notified of issues.
          <br />
          <span><i class="fa fa-thumbs-up fa-2x colorOfWindows"></i> No extra servers required.</span>
          <br />
          <span><i class="fa fa-thumbs-up fa-2x colorOfWindows"></i> Automatically updates.</span>
          <br />
          <span><i class="fa fa-thumbs-up fa-2x colorOfWindows"></i> No PhD required.</span>
          <br />
        </p>

        <p>
          <a id="btnSignUp" href="https://dashboard.winsitter.com/signup" role="button">Signup for a Free Trial!</a>
        </p>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- <div class="row featurette" id="pricing">
      <div class="col-md-7">
        <h2 class="featurette-heading">Pricing</h2>
      </div>
      <div class="col-md-5">
        <p class="lead" id="featureCheckList">
          Get complete access to our growing list of detection items and pay a flat rate of
        </p>
        <p class="pricePop green">$9 per server</p>
        <small>Interested in bulk pricing?  <a href="mailto:support@winsitter.com">Contact Us</a></small>
        <br/><br/>
        <p>
          <a id="btnSignUp" href="https://dashboard.winsitter.com/signup" role="button">Signup for a Free Trial!</a>
        </p>
      </div>
    </div>

    <hr class="featurette-divider"> -->

    <!-- /END THE FEATURETTES -->

    <div id="about" class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>About Us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="https://www.gravatar.com/avatar/53dc2db8d7a7e643d9a1fbefe15c9f42?s=150" class="img-responsive" />
          <h3>Bret Fisher</h3>
          <strong>CEO and Sysadmin</strong>
          <br>
          <p>
            Believes Windows Servers deserve better tools for monitoring. Nearly 30 Microsoft certs, and 20 years of managing Windows networks. Remembers the good ol' days of EMM386.EXE, but doesn't miss them.
          </p>
          <a href="https://twitter.com/BretFisher" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @BretFisher</a>
        </div>
        <div class="col-md-4">
          <img src="https://www.gravatar.com/avatar/821840a87c343cf8073dc5f5ce289cbd?s=150" class="img-responsive" />
          <h3>Kevin Griffin</h3>
          <strong>CTO and Lead Developer</strong>
          <br>
          <p>
            Microsoft MVP, trainer, and conference speaker. User Group Leader. Loves .NET along with Node.js and Open Source. Kills code bugs with bacon.
          </p>
          <a href="https://twitter.com/1kevgriff" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @1kevgriff</a>
        </div>
        <div class="col-md-4">
          <img src="https://www.gravatar.com/avatar/da5e4f42f7924b08916f814825321220?s=150" class="img-responsive" />
          <h3>Joe The Man</h3>
          <strong>Chief Monitor</strong>
          <br>
          <p>
            Our mascott, and always-dilligent alert robot. Likes "Ship It" squirrels. Dreams of being a real boy.
          </p>
          <a href="https://twitter.com/winsitter" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @winsitter</a>
        </div>
      </div>
    </div>


  </div>
  <!-- /.container -->


  {{> footer}}


  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="/js/detectVisible.js"></script>
  <script src="/js/navbar.js"></script>
  <script>
    ! function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "twitter-wjs");
  </script>

</body>

</html>
